#header {
	background-color: #ffbb00;
	color: #000000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: 'Indie Flower', cursive;
}


label {
	font-size: 18px;
}

#anime {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Indie Flower', cursive;
}

#cartoonsSearch {
	margin: 0 auto;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

#gifArea {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

.cartoonsGiphy {
	padding: 2px;
	width: 80%;
}